#------------------------------------------------------------------------------
# Vhosts Server root folder. File .htaccess
# This file provides server security limiting access to the localhost only.
# Comment next four lines to deactivate. (Allows external access)
#------------------------------------------------------------------------------

Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from ::1

#------------------------------------------------------------------------------
# To allow execution of cgi scripts in this directory uncomment next two lines.
#------------------------------------------------------------------------------

AddHandler cgi-script .pl .cgi
Options +ExecCGI +FollowSymLinks

#------------------------------------------------------------------------------
# Activate this section to use the Private Server Feature!
# AuthName:     Replace with a suitable name appropriate to your site
# AuthType:     Do not change
# AuthUserFile: ../../../htpasswd Corresponds to folder UniServer\htpasswd
#               In folder UniServer\htpasswd create a new folder e.g Vhost_1
#               In this new folder create a new file named .htpasswd
#               Edit this file and add a name and passwrd for example 
#               name123:password45
#               Path will look like this (replace xxx with your new folder):
#               ../../../htpasswd/Vhost_1/.htpasswd
# Note: AuthUserFile - File path is relative to server root
# To lock server, uncomment the next 4 lines. (A name and password is required)
#------------------------------------------------------------------------------

#AuthName "Uniform Server - Server Access"
#AuthType Basic
#AuthUserFile ../../../htpasswd/xxx/.htpasswd
#Require valid-user
